@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body{
    background-image: linear-gradient(to right, #426A8C, #9BCAF2);
}

main{
    background-color: white;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(200, 23%, 18%, 0.356);
    padding: 10px;
    margin: auto;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: #73655D;
    text-align: center;
    text-shadow: 1px 1px 2px #413935b4;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: #70b16f;
}

p {
    font: normal 500  1em 'Courier New', Courier, monospace;
    text-align: justify;
}